body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.product-item {
  border-bottom: 1px solid #fff;
  overflow: hidden;
  padding: 0.625rem 0;
  position: relative;
  cursor: pointer;
}

.product-image {
  display: block;
  float: left;
  margin-right: 15px;
  width: 70px;
}

.prod-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.vote-button {
  position: absolute;
  top: 57px;
  right: 20px; 
  transform: translateY(-50%);
}

.btn-signal {
  right: 5px;
  height: 74px !important;
  width: 64px !important;
  margin-left: 12px;
  border-color: #e8e8e8 !important;
}
